<!-- bliss_webapp/templates/index.html -->
<!DOCTYPE html>
<html>
<div align="center">
    <font style="font-family:Arial Rounded MT Bold;text-align:center;">
    <head>
        <meta charset="utf-8">
        <img src="https://photos-1.dropbox.com/t/2/AACQHN48KcScFquYChcXXzEcX6xfhxrsBGKcaQ6KeFkEDw/12/231232605/jpeg/32x32/1/_/1/2/blisscribe_icon.jpg/EP-8lMIBGJoDIAcoBw/rXL8Ms1BOUBUZzwFUXtdXAfiFeLChcXJHzlshs6vztI?size=2048x1536&size_mode=3"
             alt="Blisscribe"
             style="align:middle;padding:20px 10px 10px 10px;width:200px;height:200px;">
        <title>Blisscribe</title>
        <style>
        body {
            background-image: url("https://photos-1.dropbox.com/t/2/AACQHN48KcScFquYChcXXzEcX6xfhxrsBGKcaQ6KeFkEDw/12/231232605/jpeg/32x32/1/_/1/2/blisscribe_icon.jpg/EP-8lMIBGJoDIAcoBw/rXL8Ms1BOUBUZzwFUXtdXAfiFeLChcXJHzlshs6vztI?size=32x32&amp;size_mode=5")
            background-size: 100px 100px;
        }
        </style>
    </head>
        <body>
            <header style="padding:10px 0px 0px 0px;"><font size="100">Blisscribe</font></header>
            <a href="/info/">info</a>
            <a href="/translate/">translate</a>
        </body>
    </font>
</div>
</html>