<!-- bliss_webapp/templates/index.html -->
<!DOCTYPE html>
<html>
    <div align="center">
        <font style="font-family:Arial Rounded MT Bold;text-align:center;">
        <head>
            <style type="text/css"> a {text-decoration: none; color:dimgrey;}</style>
            <meta charset="utf-8">
            <img src="https://raw.githubusercontent.com/coraharmonica/blisscribe/master/projects/bliss_web/bliss_app/bliss_webapp/templates/images/blisscribe_icon.jpg"
                 alt="Blisscribe"
                 style="align:middle;padding:20px 10px 10px 10px;width:200px;height:200px;">
            <title>Blisscribe</title>
            <style>
            body {
                background-image: url("https://raw.githubusercontent.com/coraharmonica/blisscribe/master/projects/bliss_web/bliss_app/bliss_webapp/templates/images/bliss_tile_liter.jpeg");
                background-size: 100px 100px;
            }
            </style>
        </head>
            <body>
                <header style="padding:10px 0px 0px 0px;"><font size="100">Blisscribe</font></header>
                <a href="/info/">info</a>
                &nbsp;
                &middot;
                &nbsp;
                <a href="/translate/">translate</a>
            </body>
        </font>
    </div>
</html>