<!-- bliss_webapp/templates/translated.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Translation complete!</title>
</head>
<font style="font-family:Arial Rounded MT Bold;">
    <head>
        <meta charset="utf-8">
        <img src="https://photos-1.dropbox.com/t/2/AACQHN48KcScFquYChcXXzEcX6xfhxrsBGKcaQ6KeFkEDw/12/231232605/jpeg/32x32/1/_/1/2/blisscribe_icon.jpg/EP-8lMIBGJoDIAcoBw/rXL8Ms1BOUBUZzwFUXtdXAfiFeLChcXJHzlshs6vztI?size=2048x1536&size_mode=3"
             alt="Blisscribe"
             style="float:left;padding:10px 20px 10px 10px;width:100px;height:100px;">
        <title>Blisscribe</title>
        <style>
        body {
            background-image: url("https://photos-3.dropbox.com/t/2/AABXZccCko3Dir-WXkKlVJWVKJt4thaeQX7ClOyC6Rifiw/12/231232605/jpeg/32x32/1/_/1/2/bliss_tile_liter.jpeg/EP-8lMIBGJoDIAcoBw/jhQnlMjTtPcaqxxsOMQOxdGbBGgvJ3ehhPQZrSPQ8-U?size=2048x1536&size_mode=3"
            background-size: 100px 100px;
        }
        </style>
    </head>
    <body>
    <header style="padding:20px 0px 0px 0px;"><font size="100">Blisscribe</font></header>
    <a href="/info/">info</a>
    <a href="/translate/">translate</a>
    <background>
    </body>
</font>
<body>
    <font style="font-family:Arial Rounded MT Bold;">
    <p>Download your file here (soon).</p>
    <a href="/translation.pdf/" target="_blank" class="btn btn-success btn-download" id="download" >download pdf</a>
    <a href="/">home</a>
    <a href="/translate/">translate again</a>
</body>
</html>